html {
    background: url(img6.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: grey;
    opacity: 1.0;
}

h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgb(91, 240, 245);
}

body {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

.introducao {
    text-align: justify;
}

#deslocamento {
    color: black;
    border: 2px solid;
    border-radius: 6px;
    text-align: center;
    width: 10%;
}

#textoNaoProcessado {
    resize: none;
    color: black;
    border: 2px solid;
    border-radius: 6px;
}

#textoResultado {
    resize: none;
    color: black;
    border: 2px solid;
    border-radius: 6px;
}

#escolhaCifrar {
    background-color: rgb(0, 183, 255);
    color: black;
    border: 2px solid;
    border-radius: 6px;
    width: 10%;
    text-align: center;
}

#escolhaDecifrar {
    background-color: rgb(0, 183, 255);
    color: black;
    border: 2px solid;
    border-radius: 6px;
    width: 10%;
    text-align: center;
}